
.container-form{
    background-color: aliceblue;
    margin: 3rem 3rem 3rem 3rem;
    padding: 3rem;
    .span{
        padding: 1rem;
        h3{
            font-size: 24px;  
            margin-left: 2rem;   
        }
    }
    .span2{
        p{
            line-height: 2rem;
            padding: 10px;
            margin-left: 1rem ;
        }
    .form-tabs{
        padding: 3rem;
        margin: 1rem;
        }
    
    }
}
.form{
    .row{
        margin-top: 2rem;
    }
}