.container{
    .main{
    padding-top: 1rem;
    margin: 1 1 1 1;
    background-color:white;
    #myCarousel{
        .carousel-item{  
            height: 30rem;
            width: 100%;
            background: white;
                .overlay-image{
                    position: absolute;
                    bottom:0;
                    left:0;
                    right:0;
                    top:0;
                    background-repeat: no-repeat;
                    background-position:center;
                    background-size: contain;
                }
                .carousel-control-next-icon,
                .carousel-control-prev-icon {
                        filter: invert(1);
                }
            }
        }
    .tag-price{
        margin-left: 0px;
        padding-left: 0px;
        background-color: white;
        height: 505px;
        width: 535px;
            .product-name{
                    font-size: 20px;
                    line-height: 1.5em;   
                    margin: $margin-text;              
            }
            .product-description{
                line-height: 1.5em;    
                margin: $margin-text;    
            }
            .prices-method{
                font-size: 20px;
                border-style: solid;
                border-style: dotted;
                border-color: $light_gray;
                color: #289e87;
                line-height: 1.5em;
                margin: $margin-text;    
            }
            .delivery-image{
                display:flex;
                align-items: center;
                padding:1rem;
                max-width: 100%;
                margin-top:1rem;
                margin-left: 2rem;
            }
    }
    .data{
        background-color: white;
        width: auto;
        height: auto;
        padding: 1rem;
        line-height: 2rem;
        font-size: 18px;
        border-style:solid;
        border-width: 0px;
                .data-product-name{
                    font-size: 26px;
                    line-height: 3rem;
                    font-weight: bold;
                }
                .span-text-area{
                    text-align: justify;
                    text-justify: inter-word;
                    line-height: 3rem;
                }
            }
    }  
    .carousel-control-next,
    .carousel-control-prev  {
        filter: invert(100%);
    }
}
