.container{
    display:block;
    max-width: 1100px;
    margin:auto;
    padding-left:1rem;
    padding-right:1rem;
    background-color: $light_gray;

}

.product_grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: auto;
        grid-auto-flow: dense;
        gap: 3rem;
        margin: 3rem 2rem 5rem 2rem;     
        justify-items: center; 
    }
        /* Seccion Productos **/

    .productos_container{
        height: 300px;
        width: 220px;
        padding-bottom: 2rem; 
        margin-bottom: 4rem;
            .image_product{
                border-radius: 8px 8px 0 0;
            }
            .image_product_games{
                border-radius: 8px 8px 0 0;
                height: fit-content;
            }
            .product_title{
                background-color: #080a1d;
                font-size: 14px;
                padding: 8px;
                text-align: center;
                margin: -4px 4 0 0;
                width: 220px;
                height: 54px;
                line-height: 1rem;
                color: #39FF14;
            .product_title_console{
                background-color: #080a1d;
                font-size: 14px;
                padding: 8px;
                text-align: center;
                margin: -4px 4 0 0;
                width: 220px;
                height: 100px;
                color: #39FF14;
                } 
            /* Cuando aplico este estilo a la plantilla de consolas no aplica, al poner el tag en el html */
            }
        }
    .productos_container:hover {
        transform: scale(1.1);
        opacity: 0.3;
        transition: all 300ms ease;
        filter:brightness(1);
        cursor:pointer;

    }

    @media only screen and (max-width: 777px) {
        .product_grid{
            display: grid;
            grid-template-columns: repeat(2, 1fr); 
            grid-auto-rows: auto; 
        }
    }
    @media only screen and (max-width: 376px) {
        .product_grid{
            display: grid;
            grid-template-columns: repeat(1, 1fr); 
            grid-auto-rows: auto; 
        }
    }
