* {
  font-size: 16px;
  box-sizing: border-box; }

/* Variables */
.container {
  display: block;
  max-width: 1100px;
  margin: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: #6d80a6; }

.product_grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  grid-auto-flow: dense;
  gap: 3rem;
  margin: 3rem 2rem 5rem 2rem;
  justify-items: center; }

/* Seccion Productos **/
.productos_container {
  height: 300px;
  width: 220px;
  padding-bottom: 2rem;
  margin-bottom: 4rem; }
  .productos_container .image_product {
    border-radius: 8px 8px 0 0; }
  .productos_container .image_product_games {
    border-radius: 8px 8px 0 0; }
  .productos_container .product_title {
    background-color: #080a1d;
    font-size: 14px;
    padding: 8px;
    text-align: center;
    margin: -4px 4 0 0;
    width: 220px;
    height: 54px;
    line-height: 1rem;
    color: #39FF14; }
    .productos_container .product_title .product_title_console {
      background-color: #080a1d;
      font-size: 14px;
      padding: 8px;
      text-align: center;
      margin: -4px 4 0 0;
      width: 220px;
      height: 100px;
      color: #39FF14; }

.productos_container:hover {
  transform: scale(1.1);
  opacity: 0.3;
  transition: all 300ms ease;
  filter: brightness(1);
  cursor: pointer; }

@media only screen and (max-width: 777px) {
  .product_grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto; } }

@media only screen and (max-width: 376px) {
  .product_grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: auto; } }

.container .main {
  padding-top: 1rem;
  margin: 1 1 1 1;
  background-color: white; }
  .container .main #myCarousel .carousel-item {
    height: 30rem;
    width: 100%;
    background: white; }
    .container .main #myCarousel .carousel-item .overlay-image {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      top: 0;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain; }
    .container .main #myCarousel .carousel-item .carousel-control-next-icon,
    .container .main #myCarousel .carousel-item .carousel-control-prev-icon {
      filter: invert(1); }
  .container .main .tag-price {
    margin-left: 0px;
    padding-left: 0px;
    background-color: white;
    height: 505px;
    width: 535px; }
    .container .main .tag-price .product-name {
      font-size: 20px;
      line-height: 1.5em;
      margin: 1rem; }
    .container .main .tag-price .product-description {
      line-height: 1.5em;
      margin: 1rem; }
    .container .main .tag-price .prices-method {
      font-size: 20px;
      border-style: dotted;
      border-color: #6d80a6;
      color: #289e87;
      line-height: 1.5em;
      margin: 1rem; }
    .container .main .tag-price .delivery-image {
      display: flex;
      align-items: center;
      padding: 1rem;
      max-width: 100%;
      margin-top: 1rem;
      margin-left: 2rem; }
  .container .main .data {
    margin-top: -2rem;
    background-color: white;
    width: auto;
    height: auto;
    padding: 14px;
    line-height: 2rem;
    font-size: 18px;
    border-style: solid;
    border-width: 2px; }
    .container .main .data h2 {
      font-size: 24px;
      line-height: 2rem; }

.container .carousel-control-next,
.container .carousel-control-prev {
  filter: invert(100%); }

.container-form {
  background-color: aliceblue;
  margin: 3rem 3rem 3rem 3rem;
  padding: 3rem; }
  .container-form .span {
    padding: 1rem; }
    .container-form .span h3 {
      font-weight: bolder;
      font-size: 24px;
      margin-left: 2rem; }
  .container-form .span2 p {
    line-height: 2rem;
    padding: 10px;
    margin-left: 1rem; }
  .container-form .span2 .form-tabs {
    padding: 3rem;
    margin: 1rem;
    border-style: solid;
    border-width: 1px; }

.form .row {
  margin-top: 2rem; }

body {
  background-color: #2e3d59;
  font-family: 'Lato', sans-serif;
  width: 100%; }

.container {
  padding: 0 0 0 0;
  background-color: #2e3d59; }
  .container .navbar-custom {
    background-color: black;
    padding: 2rem; }
    .container .navbar-custom h1 {
      color: #39FF14;
      margin-top: 1rem; }
    .container .navbar-custom .nav-link {
      text-decoration: none;
      background-color: black;
      color: gray;
      border-radius: 8px 8px 8px 8px;
      margin-right: 1rem;
      padding: 10px;
      font-size: 20px;
      font-weight: 1.5px; }
    .container .navbar-custom .nav-link:hover {
      color: #39FF14; }

.container {
  /* Plantilla Producto Individual */
  /* Media Querys */ }
  .container .container__imagenmovil {
    display: flex;
    flex-direction: center;
    text-align: center; }
    .container .container__imagenmovil .container__imagenmovil--moviltech {
      margin-top: 3rem;
      display: flex;
      flex-direction: center;
      text-align: center;
      margin-bottom: 3rem;
      width: 100%; }
  .container .card {
    background-color: black; }
    .container .card .card__imagen {
      width: 100%;
      height: 280px; }
    .container .card .card__body {
      background-color: black;
      padding: 1rem; }
      .container .card .card__body .card__body--card-title {
        color: gray;
        background-color: black;
        display: flex;
        border-radius: 10px;
        justify-content: center;
        padding: 0 0 0 0; }
        .container .card .card__body .card__body--card-title h2:hover {
          color: #39FF14; }
  .container .breadcrumb {
    margin-top: 1rem; }
    .container .breadcrumb li {
      padding: 1rem; }
    .container .breadcrumb a {
      padding-right: 1rem; }
  @media only screen and (max-width: 550px) {
    .container .navbar-nav .nav-link {
      text-align: center; } }

/* Footer */
footer {
  width: 100%;
  margin-top: 50px;
  background-color: black; }
  footer .copyright {
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 18px;
    color: white;
    padding: 2rem;
    justify-content: center; }
  footer .socials-text {
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 18px;
    color: white;
    padding: 2rem;
    justify-content: center; }
  footer .socials {
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 18px;
    color: white;
    padding: 2rem; }
    footer .socials i {
      text-decoration: none;
      color: gray;
      transform: all .5s ease; }
  footer .socials .facebook:hover {
    transform: scale(1.3, 1.3);
    color: #382CA9; }
  footer .socials .whatsapp:hover {
    transform: scale(1.3, 1.3);
    color: #382CA9; }
  footer .socials .instagram:hover {
    transform: scale(1.3, 1.3);
    color: #53241B; }
